.Checkout {
	margin: 0 auto;
	max-width: 800px;
	box-sizing: border-box;
	padding: 0 5px;
}

.formElement input,
.StripeElement {
	display: block;
	margin: 10px 0 20px 0;
	max-width: 500px;
	padding: 10px 14px;
	font-size: 1em;
	box-shadow: rgba(50, 50, 93, 0.14902) 0px 1px 3px,
		rgba(0, 0, 0, 0.0196078) 0px 1px 0px !important;
	border: 0;
	outline: 0;
	border-radius: 4px;
	background: white;
}

.formElement input::placeholder {
	color: #aab7c4;
}

.formElement input:focus,
.StripeElement--focus {
	box-shadow: rgba(50, 50, 93, 0.109804) 0px 4px 6px,
		rgba(0, 0, 0, 0.0784314) 0px 1px 3px !important;
	-webkit-transition: all 150ms ease;
	transition: all 150ms ease;
}

.StripeElement.IdealBankElement,
.StripeElement.PaymentRequestButton {
	padding: 0;
}
